{% extends 'base.html' %}

{% block page_content %}
    <!-- about -->
    <div class="about">
        <div class="container">
            <div class="row d_flex">
                <div class="col-md-5">
                    <div class="titlepage">
                        <h2>About Sportium</h2>
                        <p>It is an idea based on a project for Python Web course. The project is to be realized
                            and developed later on.</p>
                        <a class="read_more" href="Javascript:void(0)">Raed More</a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="about_img">
{#                        <figure><img src="images/about.jpg" alt="#"/></figure>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->
{% endblock %}