{% extends 'base.html' %}
{#here we insert the specific block from base.html #}
{% block page_content %}

    <div class="row justify-content-center">
        <div class="d-flex">
            <div class="d-inline p-2 w-50">
                <h5>{{ club.name }}</h5>
                <img src="{{ club.picture.url }}"
                     class="w-50 rounded mx-auto d-block" alt="description">
            </div>
            <div class="d-inline p-2 w-50">
                <div class="d-flex flex-column">
                    <h5><u>Sport:</u> {{ club.sport }}</h5>
                    <h5><u>Additional information:</u> {{ club.information }}</h5>
                </div>
                <div>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'register player' %}" class="btn btn-primary">Sign up</a>
                    {% else %}
                        <a href="{% url 'register' %}" class="btn btn-primary">Sign up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}